/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #f5f5f5;
    font-family: 'Lato';
    color: #404040;
}

.superior-header{
    width: 100%;
    height: 100%;
    background-color: #404040;
}

.superior-header div{
    width: 1080px;
    height: 25px;
    margin: 0 auto;
}

.superior-header div a{
    text-decoration: none;
    color: #999;
    font-size: 10px;
    padding-right: 20px;
    text-align: right;
}

.superior-header div a:hover{
    color: #fff;
}

.primary-header{
    width: 100%;
    height: 100%;
    background-color: #333;
}

.div-header{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
}

.nav-header{
    width: 1080px;
    height: 40px;
    padding: 20px 0 20px 0;
}

.logo{
    height: 30px;
    padding-top: 2px;
}

.fa-caret-down{
    margin-left: 4px;
}

.nav-header ul{
    list-style-type: none;
    float: right;
    margin: 9px;
}

.nav-header-item{
    float: left;
}

.nav-header-item a{
    text-decoration: none;
    color: #f5f5f5;
    padding: 29px 10px 29px 10px;
}

.nav-header-item a:hover, .dropdown:hover .dropdown-item{
    color: #FF8A00;
}

.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    margin-top: 13px;
    min-width: 200px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    color: #333;
    padding: 12px 20px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #333;
    color: #f5f5f5;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.nav-roadmap{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.container{
    width: 100%;
    height:100%;
}

.div-container{
    width: 1080px;
    height: 1707px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px; 
}

.articles-section{
    display: block;
    float: left;
    width: 750px;
    height: 100%;
    padding-right: 30px;
}

.div-main-article{
    width: 750px;
    height: 417px;
    background-color: #fff;
}

.div-main-article .main-article-category{
    position: absolute;
    text-decoration: none;
    min-width: 50px;
    color: #f5f5f5;
    background-color: #FF8A00;
    padding: 5px 10px;
    z-index: 1;
}

.div-main-article img{
    width: 750px;
    height: 417px;
    background-color: #ddd;
    float: right;
}

.div-grid-articles{
    width: 750px;
    height: 1260px;
}

.grid-row{
    width: 750px;
    height: 400px;
    margin-top: 30px;
}

.grid-cell{
    width: 360px;
    height: 100%;
    background-color: #fff;
}

.grid-cell .article-category{
    position: absolute;
    text-decoration: none;
    min-width: 50px;
    font-size: 12px;
    color: #f5f5f5;
    background-color: #FF8A00;
    padding: 5px 10px;
    z-index: 1;
}

.grid-cell .article-category:hover{
    background-color: #333;
}

.grid-cell img{
    width: 360px;
    height: 200px;
    background-color: #ddd;
}

.grid-cell .article-content{
    width: 358px;
    height: 200px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.article-content .texts{
    display: block;
    width: 326px;
    height: 176px;
    padding-top: 10px;
    margin: 0 16px 16px 16px;
    overflow: hidden;
}

.texts .article-title{
    display: block;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: bold;
    color: #404040;
}

.texts .article-title:hover{
    color: #FF8A00;
}

.texts .article-date{
    display: block;
    font-size: 11px;
    color: #999;
    margin: 8px 0;
}

.article-date .article-author{
    text-decoration: none;
    color: #FF8A00;
}

.texts .article-summary{
    font-size: 14px;
    margin-top: 0;
}

.column01{
    float: left;
}

.column02{
    float: right;
}

.aside-right-column{
    display: block;
    float: right;
    width: 300px;
    height: 100%;
    background-color: #fff;
}

.nav-pager{
    width: 100%;
    height: 52px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #333;
}

.div-footer{
    width: 1080px;
    height: 256px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-left: 1px solid #636363;
    border-right: 1px solid #636363;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
